img{
    height: 100%;
    width: 100%;
}
h1{
    font-family: Arial;
    font-size: 30pt;
    text-align: center;
    background-color:#FFCC8B86;
    padding:10%;
}
body{
    padding: 5%;
    background-color: yellow;
}
p{
    text-align: justify;
    font-family: Arial;
    font-size: 20pt;
}
h2{
    text-align: center;
    font-family: Arial;
    font-size:25pt;
}
footer{
    text-align: center;
    background-color:#FFCC8B86;
    padding:10%;
    font-family: Arial;
    font-size: 40pt;
}
i#menor{
    text-align: center;
    font-family: Arial;
    font-size: 30pt;
}
/*index*/
div#inicio{
    padding: 10%;
    background-color:#FFCC8B86;
}


blockquote#citacao{
    background-color: darkgray;
    padding: 10%;
    font-family: Arial;
    font-size: 20pt;
    font-style: italic;
}
cite{
    font-family: Arial;
    font-size: 12pt;
}
a#centro{
    text-align: center;
    text-decoration: none;
    color:darkgray;
}
p#texto{
    text-align: justify;
    background-color:#FFCC8B86;
    padding:10%;
    font-family: Arial;
    font-size:20pt;
}
a#casa{
    display: block;
    text-align: center;
    background-color:darkgray;
    padding:10%;
    font-family: Arial;
    font-size:40pt;
    text-decoration: none;
    color: black;
}

div#menu{
    text-align:center;
    padding:10%;
    background-color:#FFCC8B86;
}
a#menu{
    padding:5%;
    background-color:darkgray;
    text-decoration:none;
    color:black;
    font-family:Arial;
    font-size:20pt;
    position: relative;
    display: block;
}
a#menuet{
    padding:5%;
    background-color:#FFCC8B86;
    text-decoration:none;
    color:black;
    font-family:Arial;
    font-size:20pt;
    position: relative;
    display: block;
}
a#res{
    text-decoration: none;
    color:black;
}

/*banner de cookies*/
div#permisao {
  position: fixed;
  bottom: 0;
  padding: 20px 20px;
  text-align: center;
  background-color: yellow;
  display: none;
  font-family: Arial;
  font-size: 14pt;
}
 
button.permisao{
  background-color: darkgray;
  padding: 10px;
  font-family: Arial;
  font-size: 14pt;
  border-radius: 30px;
}
