img{
    height: 100%;
    width: 100%;
}
h1{
    text-align: center;
    background-color:#FFCC8B86;
    padding:10%;
}
body{
    padding: 5%;
}
h2{
    text-align: center;
}
body{
    background-color: yellow;
}
p{
    font-family: Arial;
    font-size: 20pt;
}
h1{
    font-family: Arial;
    font-size: 30pt;
}
h2{
    font-family: Arial;
    font-size:25pt;
}

/*index*/
div#inicio{
    padding: 10%;
    background-color:#FFCC8B86;
}


blockquote#citacao{
    background-color: darkgray;
    padding: 10%;
    font-family: Arial;
    font-size: 20pt;
}
cite{
    font-family: Arial;
    font-size: 12pt;
}
a{
    text-align: center;
}
